.tooltip-container {
    position: relative;
}

.tooltip-children {
    position: relative;
}

.tooltip {
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    padding: 5px;
    width: max-content;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-children:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip::after {
    content: '\25BC';
    position: absolute;
    top: 60%;
    right:50%;
    color: black;
}